<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta Tags -->
    <meta name="description" content="Your description">
    <meta name="author" content="Your name">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on Facebook, Twitter, LinkedIn -->
	<meta property="og:site_name" content="" /> <!-- website name -->
	<meta property="og:site" content="" /> <!-- website link -->
	<meta property="og:title" content=""/> <!-- title shown in the actual shared post -->
	<meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
	<meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
	<meta property="og:url" content="" /> <!-- where do you want your post to link to -->
	<meta name="twitter:card" content="summary_large_image"> <!-- to have large image post format in Twitter -->

    <!-- Webpage Title -->
    <title>SPark: Smart Parking</title>

    <!-- Styles -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link href="./css/fontawesome-all.min.css" rel="stylesheet">
    <link href="./css/aos.min.css" rel="stylesheet">
    <link href="./css/swiper.css" rel="stylesheet">
    <link href="./css/style.css" rel="stylesheet">

    <link rel="stylesheet" href="/css/app.css">
    <script src="/js/app.js"></script>

    <!-- Favicon -->
    <link rel="icon" href="./assets/images/favicon.png">
</head>
<body>
    
    <!-- Navigation -->
    <nav id="navbar" class="navbar navbar-expand-lg fixed-top navbar-dark" aria-label="Main navigation">
        <div class="container">

            <!-- Image Logo -->
            <!-- <a class="navbar-brand logo-image" href="index.html"><img src="images/logo.svg" alt="alternative"></a> -->

            <!-- Text Logo - Use this if you don't have a graphic logo -->
            <a class="navbar-brand logo-text logo-image" href="index.html"><img src="assets/images/favicon.png" alt="" class="img-fluid"> SPark: Smart Parking System</a>

            <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault" >
                <ul class="navbar-nav ms-auto navbar-nav-scroll">
                    <li class="nav-item">
                        <a class="nav-link  scrollto active"  href="/#">Home</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link scrollto" href="/#about">Map</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link scrollto" href="/#menu">System</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                      </li>
                    <li class="nav-item ">
                        <a class="nav-link scrollto" href="/aboutus">About Us</a>
                    </li>
                  
                </ul>
                <span class="nav-item social-icons">
                    <span class="fa-stack">
                        <a href="https://www.facebook.com/CMTagum" target="_blank">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-facebook-f fa-stack-1x"></i>
                        </a>
                    </span>
                
                </span>
            </div> <!-- end of navbar-collapse -->
        </div> <!-- end of container -->
    </nav> <!-- end of navbar -->
    <!-- end of navigation -->


   

    <div class="w3-container w3-padding-64 w3-xxlarge" id="menu">
        <div class="w3-content">
        
          <h1 class="w3-center w3-jumbo" style="margin-bottom:64px;color:white;">ABOUT</h1>
          <div class="w3-row w3-center w3-border w3-border-dark-grey map">
            <a href="javascript:void(0)" onclick="openMenu(event, 'Pizza');" id="myLink">
              <div class="w3-col s4 tablink w3-padding-large w3-hover-red map"><h4>CityMall</h4>
                
              </div>
            </a>
            <a href="javascript:void(0)">
              <div class="w3-col s4 tablink w3-padding-large  "></div>
            </a>
            <a href="javascript:void(0)" onclick="openMenu(event, 'Starter');">
              <div class="w3-col s4 tablink w3-padding-large w3-hover-red map"><h4>System</h4></div>
            </a>
          </div>
      
          <div id="Pizza" class="w3-container menu w3-padding-32 w3-white maps">


            <div class="ex-basic-1 pt-5 pb-5">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-10 offset-xl-1">
                            <div class="text-box mb-5 p-4">
                                <img class="responsive" src="https://sa.kapamilya.com/absnews/abscbnnews/media/2018/business/04/06/022617-citymall.jpg">
        
                                <br><br>
                                <h4>The CityMall is your chain of provincial neighborhood community centers providing your basic essential needs and services. Envisioned to become the top of mind community center brand in the Philippines.  The list below are the important information about CityMall.</h5>
                            </div> <!-- end of text-box -->
                            <h2 class="mb-3">1. What is CityMall?</h2>
                           <h5>CityMall Commercial Centers, Inc. is a subsidiary of DoubleDragon Properties. It owns a chain of community shopping malls, with branches across the Philippines. CityMall is a unique shopping destination that offers a variety of products and services and is easily accessible that is centrally located in Tagum City. CityMall is the perfect place to find everything from clothes and accessories to home goods and electronics. The mall also houses the most famous fast food chains in the Philippines, such as Mang Inasal, Chowking, and Jollibee. </h5>
                            <div class="row  row-cols-xl-3 photos" data-bss-baguettebox="">
                                <div class="col item crop"><br><a href="https://image.slidesharecdn.com/hrmpptfinal-130624101430-phpapp01/95/hrmmang-inasal-swot-analysis-1-638.jpg?cb=1372804303"><img class="img-fluid" src="https://image.slidesharecdn.com/hrmpptfinal-130624101430-phpapp01/95/hrmmang-inasal-swot-analysis-1-638.jpg?cb=1372804303"></a></div>
                                <div class="col item crop"><a href="https://philbp.com/wp-content/uploads/cache/images/chowking-logo/chowking-logo-3594615354.jpg"><img class="img-fluid" src="https://philbp.com/wp-content/uploads/cache/images/chowking-logo/chowking-logo-3594615354.jpg"></a></div>
                                <div class="col item crop"><a href="https://i.pinimg.com/originals/46/d7/7f/46d77fac5e245d278a9232f7b8cacafa.jpg"><img class="img-fluid" src="https://i.pinimg.com/originals/46/d7/7f/46d77fac5e245d278a9232f7b8cacafa.jpg"></a></div>
                          
                            </div>
        <br>
                            <h2 class="mb-3">2. What are the benefits of shopping at CityMall?</h2>
                        <h5>CityMall is a one-stop shopping destination for Tagum residents. With a wide variety of products and services, CityMall offers something for everyone. Here are some of the benefits of shopping at CityMall:</h5>
                            </p>
                         
                            <h5><ul class="list-unstyled li-space-lg mb-4">
                                <li class="d-flex pb-3">
                                    <i class="fas fa-square"></i>
                                    <div class="flex-grow-1"><strong>Always up-to-date with the latest products and trends</strong></div>
                                </li>
                                <li class="d-flex  pb-3">
                                    <i class="fas fa-square"></i>
                                    <div class="flex-grow-1"><strong>Convenient locations</strong></div>
                                </li>
                                <li class="d-flex  pb-3">
                                    <i class="fas fa-square"></i>
                                    <div class="flex-grow-1"><strong>Variety of product categories</strong></div>
                                </li>
                                <li class="d-flex  pb-3">
                                    <i class="fas fa-square"></i>
                                    <div class="flex-grow-1"><strong>Friendly and helpful staff</strong></div>
                                </li>
                                <li class="d-flex  pb-3">
                                    <i class="fas fa-square"></i>
                                    <div class="flex-grow-1"><strong>Convenient payment options</strong></div>
                                </li>
                            </ul>
                            </h5>
                            <h2 class="mb-3">3. How do I shop at CityMall?</h2>
                            <h5>CityMall is a shopping destination for everyone. Whether you're looking for clothes, home goods, appliances, or anything in between, CityMall has what you need. And the best part is that everything is priced affordably.<br><br>
                                So how do you shop at CityMall? You can browse the aisles, search for what you want, and checkout as usual. CityMall is the perfect shopping destination for those who want to save time and money. With everything priced affordably and convenient online and offline shopping experiences, CityMall is the one stop shopping destination for everyone.
                            </h5>
                            
                            <h2 class="mb-3">4. Is CityMall safe to shop at?</h2>
                            <h5>CityMall is a safe place to shop. They have a security team that patrols the mall and monitors the activities of their shoppers. They also have a CCTV monitoring system in place to keep an eye on everything that's happening in the mall. CityMall also has an emergency exit and security personnel on duty at all times to ensure the safety of their shoppers.</h5>
                            
                            <h2 class="mb-3">5. Where is CityMall located?</h2>
                            <h5>CityMall is located in Tagum City, the capital of the Davao del Norte province in the Philippines. The mall is easily accessible by car and public transportation. CityMall in Tagum City is the first City Mall that is build in Davao region. CityMall is open from 9:00am to 9:00pm daily.</h5>
        
                
                           
                    
        
                        </div> <!-- end of col -->
                    </div> <!-- end of row -->
                </div> <!-- end of container -->
            </div> <!-- end of ex-basic-1 -->
            <!-- end of basic -->
         
           
          </div>
      
          
          <div id="Starter" class="w3-container menu w3-padding-32 w3-white">
            <div class="ex-basic-1 pt-5 pb-5">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-10 offset-xl-1">
                          
                              
        
                             
                            
                           <h5>Every now and then, the biggest concern when it comes to retail center is the 
                            problem with parking due to crowded parking lots and with that, there are many problems
                            associated with this such as:<br>
                            <h5><ul class="list-unstyled li-space-lg mb-4">
                               
                                <h5><ul class="list-unstyled li-space-lg mb-4">
                                    <li class="d-flex pb-3">
                                        <i class="fas fa-square"></i>
                                        <div class="flex-grow-1"><strong> Failures in parking management lead to a competition for available parking space<br></strong></div>
                                    </li>

                                    <h5><ul class="list-unstyled li-space-lg mb-4">
                                        <li class="d-flex pb-3">
                                            <i class="fas fa-square"></i>
                                            <div class="flex-grow-1"><strong> Fuel consumption<br></strong></div>
                                        </li>

                                        <h5><ul class="list-unstyled li-space-lg mb-4">
                                            <li class="d-flex pb-3">
                                                <i class="fas fa-square"></i>
                                                <div class="flex-grow-1"><strong>Wasted time because of the looping process<br></strong></div>
                                            </li>

                                            <h5><ul class="list-unstyled li-space-lg mb-4">
                                                <li class="d-flex pb-3">
                                                    <i class="fas fa-square"></i>
                                                    <div class="flex-grow-1"><strong>   A higher percentage of accidents<br></strong></div>
                                                </li>
                                                <h5><ul class="list-unstyled li-space-lg mb-4">
                                                    <li class="d-flex pb-3">
                                                        <i class="fas fa-square"></i>
                                                        <div class="flex-grow-1"><strong>    Drivers’ frustration due to traffic congestion</strong></div>
                                                    </li>
                                            </ul>
                                        </h5>
                           
                           
                            
                         
                        
                            
        <br>
                            
                        <h5>This system called SPark: Smart Parking System makes parking management ease in shopping mall. This system will make availability of parking during weekends/rushing hours in shopping malls. This system includes two steps. <br><br><strong>- Find all the parking spaces <br> - Find if a parking space is available or occupied</strong><br><br>
                             This system will provide current parking availability status for vehicle owners.This will be very helpful in saving the time and a lot of efforts for finding a space to park the vehicle, especially during the weekends. User can connect to the smart parking system from anywhere with their smart phones in any browser. And this information is also available to the parking operators to determine the free parking areas, and statistics can be measured at different times in a day on each parking space.</h5>
                           
                         
                          <BR>
                            <h2 class="mb-3">Flow of the system:</h2>
                            <h5><br><strong>1. When the customer is on the way to the mall, they can access the website to see if there are still available parking spaces in the mall. 
                            
                        <br>2. Once the car enters the parking lot, the camera will detect the vehicle.
                    <br>3. After that, the system will process where is the location of the vehicle.
                <br>4. The system will process if the parking lot is occupied or unoccupied.
            <br>5. The occupied parking lot will update in the system and will turn to red box in the website, otherwise green if its unoccupied. 
        <br>6. When the vehicle leaves the parking lot, the system and website will update and it will turn back to green box. </strong></h5>

                        </div> <!-- end of col -->
                    </div> <!-- end of row -->
                </div> <!-- end of container -->
            </div> <!-- end of ex-basic-1 -->
            <!-- end of basic -->
          
          </div><br>
      
        </div>
    </div>


    

    

               
    <!-- Bottom -->
    <div class="bottom py-2 text-light" >
        <div class="container d-flex justify-content-between">
            <div>
                <p>CityMall of Tagum</p>
		<p>Distributed by: Z2558</p>
            </div>
            
        </div> <!-- end of container -->
    </div> <!-- end of bottom -->


    <!-- Back To Top Button -->
    <button onclick="topFunction()" id="myBtn">
        <img src="assets/images/up-arrow.png" alt="alternative">
    </button>
    <!-- end of back to top button -->


    <!-- Scripts -->
    <script src="./js/bootstrap.min.js"></script><!-- Bootstrap framework -->
    <script src="./js/purecounter.min.js"></script> <!-- Purecounter counter for statistics numbers -->
    <script src="./js/swiper.min.js"></script><!-- Swiper for image and text sliders -->
    <script src="./js/aos.js"></script><!-- AOS on Animation Scroll -->
    <script src="./js/script.js"></script>  <!-- Custom scripts -->
    <script>
        // Tabbed Menu
        function openMenu(evt, menuName) {
          var i, x, tablinks;
          x = document.getElementsByClassName("menu");
          for (i = 0; i < x.length; i++) {
             x[i].style.display = "none";
          }
          tablinks = document.getElementsByClassName("tablink");
          for (i = 0; i < x.length; i++) {
             tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
          }
          document.getElementById(menuName).style.display = "block";
          evt.currentTarget.firstElementChild.className += " w3-black";
        }
        document.getElementById("myLink").click();
        </script>
</body>
</html>
